<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="?menu=Home">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Home</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents5" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Choice</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents5">
      <li>
        <a href="?menu=Choice">Choice</a>
      </li>
      <li>
        <a href="?menu=ChoiceAdd">Add</a>
      </li>

    </ul>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents4" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">IPM</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents4">
      <li>
        <a href="?menu=IPM">IPM</a>
      </li>
      <li>
        <a href="?menu=IPMAdd">Add</a>
      </li>

    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents2" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Status</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents2">
      <li>
        <a href="?menu=Status">Status</a>
      </li>
      <li>
        <a href="?menu=StatusAdd">Add</a>
      </li>

    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents3" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Technology</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents3">
      <li>
        <a href="?menu=Technology">Technology</a>
      </li>
      <li>
        <a href="?menu=TechnologyAdd">Add</a>
      </li>

    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Users</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents">
      <li>
        <a href="?menu=Users">Users</a>
      </li>
      <li>
        <a href="?menu=UserAdd">Add</a>
      </li>

    </ul>
  </li>

</ul>
