<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Home</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents">
      <li>
        <a href="?menu=Home">Project</a>
      </li>
      <li>
        <a href="?menu=ProjectApprove">Project Appove</a>
      </li>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents1" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-address-book"></i>
      <span class="nav-link-text">Projects</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents1">
      <li>
        <a href="?menu=Leader">Create Project</a>
      </li>
      <li>
        <a href="?menu=edit">Edit Project</a>
      </li>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
    <a class="nav-link" href="?menu=Table">
      <i class="fa fa-fw fa-area-chart"></i>
      <span class="nav-link-text">Project Table</span>
    </a>
  </li>
</ul>
